:root {
  --persian-red-50: #fff1f2;
  --persian-red-100: #ffe1e2;
  --persian-red-200: #ffc7ca;
  --persian-red-300: #ffa1a5;
  --persian-red-400: #ff6a71;
  --persian-red-500: #f83b44;
  --persian-red-600: #da1922;
  --persian-red-700: #c1141c;
  --persian-red-800: #9f151b;
  --persian-red-900: #84181d;
  --persian-red-950: #48070a;
}

body {
  margin: 0;
  padding: 0;
  background: #f2f4f5;
  color: #1e1e1f;
  font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
